<h1>Colaborators per Manager</h1>
<table>
	<thead>
    <tr>
      <th>Registration</th>
      <th>Name</th>
      <th>Email</th>
      <th>Manager</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @manager.subordinates.each do |colaborator| %>
    	<tr>
    		<td>
            	<%= link_to colaborator.name, controller: "hours_registrations", action: "list_hours_colaborator", id: colaborator.id %>
           	</td>
        </tr>
    <% end %>
  </tbody>
 </table>