<footer class="footer">
  <small>
    <a href="/">Hours Colaborator 2014</a>
    by Deise Miranda e Thiago Carneiro
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>